p.hide, img.hide {display: none;}

p.show, img.show {display: initial;}

div.header {
    height: 200px;
    width: 2000px;
    background-image: url("Banner Design-01 (1).png");
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: header;
}

div.lTitle {grid-area: Ltitle; font-size: 26px}
div.rTitle {grid-area: Rtitle; font-size: 26px}

div.filler {
    grid-area: filler;
    font-size: 26px;
    text-align: center;
}

div.background{
    display: grid;
    grid-template-areas: 'header header'
            'Ltitle Rtitle'
            'left right'
    'filler filler'
    'bottom bottom';
    grid-gap: 50px;
    padding: 10px;
}

div.description {
    height: 400px;
    width: 700px;
    border: 2px black solid;
    overflow: auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    grid-area: left;
}

div.picture {
    /*height: auto;*/
    width: auto;
    grid-area: right;
    /*min-width: 100%;*/
    min-height: 100%;
}

div.timeline {
    grid-area: bottom;
    position: center;
    width: 1500px;
    border-top: darkslategrey 5px solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}